---
layout: layouts/base.njk
---
<article class="post">
  <div class="container">
    <header class="post__header">
      <div class="post__date">{{ date | germanDate }}</div>
      <h1 class="post__title">{{ title }}</h1>
      {% if tags %}
      <div class="post__tags">
        {% for tag in tags %}
          {% if tag != "posts" %}
          <a href="/tags/{{ tag | slugify }}/" class="tag">{{ tag }}</a>
          {% endif %}
        {% endfor %}
      </div>
      {% endif %}
    </header>
    <div class="post__divider"></div>
    <div class="post__content">
      {{ content | safe }}
    </div>
  </div>
</article>
